# Task 1: Import Dataset

In [7]:
import pandas as pd

# read the csv file 
bike_df = pd.read_csv('bike_sharing_daily_1.csv')

In [8]:
bike_df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,hum,windspeed,cnt
0,1,1/1/2011,1,0,1,0,6,0,2,0.344167,0.805833,0.160446,985
1,2,1/2/2011,1,0,1,0,0,0,2,0.363478,0.696087,0.248539,801
2,3,1/3/2011,1,0,1,0,1,1,1,0.196364,0.437273,0.248309,1349
3,4,1/4/2011,1,0,1,0,2,1,1,0.200000,0.590435,0.160296,1562
4,5,1/5/2011,1,0,1,0,3,1,1,0.226957,0.436957,0.186900,1600

In [9]:
bike_df.describe()

,instant,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,hum,windspeed,cnt
count,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000
mean,366.000000,2.496580,0.500684,6.519836,0.028728,2.997264,0.683995,1.395349,0.495385,0.627894,0.190486,4504.348837
std,211.165812,1.110807,0.500342,3.451913,0.167155,2.004787,0.465233,0.544894,0.183051,0.142429,0.077498,1937.211452
min,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.059130,0.000000,0.022392,22.000000
25%,183.500000,2.000000,0.000000,4.000000,0.000000,1.000000,0.000000,1.000000,0.337083,0.520000,0.134950,3152.000000
50%,366.000000,3.000000,1.000000,7.000000,0.000000,3.000000,1.000000,1.000000,0.498333,0.626667,0.180975,4548.000000
75%,548.500000,3.000000,1.000000,10.000000,0.000000,5.000000,1.000000,2.000000,0.655417,0.730209,0.233214,5956.000000
max,731.000000,4.000000,1.000000,12.000000,1.000000,6.000000,1.000000,3.000000,0.861667,0.972500,0.507463,8714.000000

# Task 2: Upload the data to S3 bucket

In [10]:
import sagemaker


# Creating Sagemaker session using Sagemaker SDK
sess = sagemaker.Session()

#Prefix that we want to use

prefix = 'aws-machine-learning/input'

#Uploading the data to S3 bucket
uri = sess.upload_data(path = 'bike_sharing_daily_1.csv', key_prefix = prefix)

print(uri)

s3://sagemaker-us-east-1-536425956452/aws-machine-learning/input/bike_sharing_daily_1.csv

In [11]:
# location to store the output

output = "s3://sagemaker-us-east-1-536425956452/aws-machine-learning/output"

print(output)

s3://sagemaker-us-east-1-536425956452/aws-machine-learning/output